[submodule "libs/detours"]
	path = libs/detours
	url = https://github.com/microsoft/Detours
[submodule "libs/pattern16"]
	path = libs/pattern16
	url = https://github.com/Dasaav-dsv/Pattern16
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui
[submodule "libs/nixxes"]
	path = libs/nixxes
	url = https://github.com/ShadelessFox/nixxes.h
